<!DOCTYPE html>
<html>
<head>{%if title%}
	<title>David Romanus's Blog</title>
{%else%}
<title>David Romanus's Blog</title>
{%endif%}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="David Romanus Blog" content="David Romanus is a web developer focused on learning and building web based solutions for businesses and the general public. He loves wrestling, studying and watching comedy. He is a Nigerian.">
	<script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>
	</head>
<body class="bg-light">
<div>
		{%with messages =get_flashed_messages()%}
	{%if messages%}
	   {%for m in messages%}
	      <p class="alert alert-info">{{m}}</p>
	      {%endfor%}
       {%endif%}
	{%endwith%}
</div>
{%block body%}{%endblock%}
</body>
</html>
